{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}


{% block head %}

<style>

   
    
</style>

{% endblock head %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            
            {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% comment %} <div style="justify-content: center;display: flex;align-items: center;">
    <a href="{% url 'add_godown' %}"> <button id="payment-button" style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
         <span id="payment-button-amount">Add godown  +</span>
     </button> </a>
   
</div><br> {% endcomment %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title"> List Client </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Company Name</th>
                                <th>Mobile No</th>
                                <th>Mail</th>
                                <th>Desigination</th>
                                <th>Instagram</th>
                                <th>Twitter</th>
                                <th>Linkdin</th>
                                <th>Facebook</th>
                                <th>Website</th>
                                <th>Address Link</th>
                                <th>Create Date</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.address }}</td>
                                <td>{{ i.company_name }}</td>
                                <td>{{ i.mobile_no }}</td>
                                <td>{{ i.mail }}</td>
                                <td>{{ i.desigination }}</td>
                                <td>{{ i.instagram }}</td>
                                <td>{{ i.twitter }}</td>
                                <td>{{ i.linkdin }}</td>
                                <td>{{ i.facebook }}</td>
                                <td>{{ i.website1 }}</td>
                                <td>{{ i.address_link }}</td>
                                <td>{{ i.date }}</td>
                                
                                <td style="display: flex;
                                gap: 12px;">  

                                    <button id="payment-button" class="btn-info " style="background-color: #343a40;" onclick="copyToClipboard('https://www.nfcmetalcard.com/showcard/{{ i.random_key }}')" type="button">
                                        <span id="payment-button-amount">Copy</span>
                                    </button>

                                   <a href="{% url 'print_single_qr' i.id %}"> <button id="payment-button"  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">QR</span>
                                    </button>  </a>
                                   
                                   <a href="{% url 'update_client' i.id %}"> <button id="payment-button"  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">View</span>
                                    </button>  </a>
                                   
                                   <a href="{% url 'show_card' i.random_key %}"> <button id="payment-button"  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">View Card</span>
                                    </button>  </a>
                                   
                                    <a href="{% url 'delete_client' i.id %}"> <button id="payment-button"  style="background-color: red; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">Delete</span>
                                    </button>  </a>
                                   

                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}




{% block js %}

<script>



    function copyToClipboard(text) {
        // Create a temporary input element
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
    
        // Select the text
        input.select();
    
        // Copy to clipboard
        document.execCommand('copy');
    
        // Remove the temporary input element
        document.body.removeChild(input);
    
        // Notify the user
        alert('URL copied to clipboard!');
    }


</script>


{% endblock js %}
